*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-size: 30px; */
    /* font-weight: 500; */
}
body{
    font-family: Avenir Next, sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border:0px;
}
.heading{
    box-sizing: content-box;
    height: 37px;
    padding: 15px 15px;
    display: flex;
    border-radius: 8px;
   
}
.words{
    overflow: hidden;
}
.words span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #0e6ffc;
    animation: spin_words 6s infinite;
    font-size: 30px;
    font-weight: 500;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}


input{

border: none;
outline: none;
background: transparent;
border-radius: 4px;
}

.outerBox{
    
    background-color: yellow;
    width: 500px;
    height: auto;
    border-radius: 40px;
    margin-top: 20vh;
    box-shadow: 0px 0px 30px rgb(12, 83, 215);
   
    
}


.box{

    display: flex;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 5px;
    margin-left: 5px;
    
}



.taskList{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 10px;
}


.heading{
    display: flex;
    text-align: center;
    justify-content: center;
}
.heading h1{
    text-align: center;
    background: linear-gradient(to right, rgb(0, 0, 128), rgb(0, 191, 255)); /* Dramatic blue gradient */
    background-clip: text; /* For non-WebKit browsers */
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent; /* Makes text fill transparent */
    -webkit-text-fill-color: transparent; /* For WebKit browsers */
}
.words  span{
    text-align: center;
    background: linear-gradient(to right, rgb(0, 0, 128), rgb(0, 191, 255)); /* Dramatic blue gradient */
    background-clip: text; /* For non-WebKit browsers */
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent; /* Makes text fill transparent */
    -webkit-text-fill-color: transparent; /* For WebKit browsers */
}
.heading img{
    height: 45px;
    width: auto;
    padding-bottom: 5px;
   
    
}






 button {
    
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0px 2px 15px rgba(16, 79, 189, 0.15);
    background: #4564ff;
    color: #fff;
}



ul {
    list-style-type: none;
   
    border-radius: 30px;
    padding-left: 5px;
    /* margin-bottom: 25px; */
}

li {
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    transition: 0.1s ease;
    border-radius:10px ;
    padding:5px;
    padding-top:15px;
    padding-bottom: 15px;
    
    
}
li:hover {
    transform: scale(1.01);
    box-shadow: 0px 2px 15px rgba(16, 79, 189, 0.15);
}


li button {
    border: none;
    outline: none;
    padding: 4px 13px;
    background: #4564ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

